[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
requests-oauthlib = "*"
beautifulsoup4 = "*"

[dev-packages]
black = "*"
pyflakes = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.10"
